.projects-list-container{
    display: flex;
    gap: 60px;
    flex-direction: column;
}
.project-name {
    width: 500px;
    display: flex;
    align-items: last baseline;
    justify-content: space-between;

    font-family: 'Inria Serif', serif;
    border-bottom: 1px solid white;
    line-height: 80px;
    opacity: 70%;
    flex-wrap: wrap;

    cursor: pointer;
}

.project-name:hover {
    opacity: 100%;
}


h5 {
    padding: 0px;
    margin: 0px;
    font-size: 1.5vw;
}

h6 {
    padding: 0px;
    margin: 0px;

    font-size: 28px;
    color: #64676B;
}

.block {
    z-index: 1;
    display: block;
    width: 647px;
    height: 577px;
    color: #fff;
}

.main-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 300px;
}

.projects-image img {
    min-width: 647px;
    min-height: 577px;
    object-fit: cover;
}

/*Toggle buttons*/

.toggle-container {
    display: flex;
    width: 400px;
}

.toggle-button {
    font-size: 16px;
    background-color: transparent;
    border: 1px solid #646464;
    color: #fff;
    width: 200px;
    height: 32px;
    cursor: pointer;
}
.toggle-button:hover{
    background-color: #646464;
    opacity: 40%;
    color: #fff;
}

#selected{
    background-color: #646464;
    opacity: 60%;
}