a {
    opacity: 80%;
    font-size: 24px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;

}

.navbar-container {
    padding-left: 300px;
    padding-right: 300px;
    height: 60px;
    display: flex;
    align-items: center;
}