@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

#root {
  box-sizing: border-box;
  text-align: center;
  width: 100vw;
  margin: 0;
  padding: 0;
}


/*Langing Page*/
.orange-text {
  color: #FF5E00;
}

.section-container {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: start;
  align-items: center;
  line-height: 60px;
}

.wave {
  width: 100vw;
  position: absolute;
  bottom: 0;
  z-index: -10000;
}

img {
  max-height: 319px;
}

.main-info {
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 100%;
  gap: 70px;
  min-height: 50%;
}

.description {
  width: 985px;
  color: white;

  font-family: 'Orbitron', sans-serif;
  font-size: 48px;
}

.secondary-info {
  display: flex;
  gap: max(700px);
  padding-left: 100px;
}

.secondary-description {
  font-size: 24px;
  font-weight: normal;
  
  max-width: 520px;
  text-align: center;
  line-height: 1.5;
}

.secondary-description h5 {
  padding: 0px;
  margin: 0px;
  font-size: 28px;
}

.description-container {
  opacity: 70%;
}

.description p {
  overflow: hidden;
}

#grey-color-description {
  color: #242424;
  opacity: 90%;
  z-index: 1000;
}


/*About page*/
.about_page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  font-family: 'Inria Serif', serif;
  color: #3B3F44;
  font-size: 48px;
}

li {
  list-style-type: none;
  text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}




#about_page {
  display: flex;
  align-content: center;
  justify-content: center;
}

#contact_page,
#project_page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  color: #242424;
  text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}



.technologies-list {
  margin-top: 200px;
}

.wave-container {
  width: 100vw;
  display: flex;
  align-items: flex-end;
  bottom: 0;
  height: auto;
}

.wave-container img {
  width: 100vw;
  position: absolute;
}

.wave-container img:nth-child(0) {
  z-index: 3;
  margin-bottom: 20px;
}

.wave-container img:nth-child(1) {
  z-index: 4;
  margin-bottom: -80px;
}

.wave-container img:nth-child(2) {
  z-index: 1;
  margin-bottom: 60px;
}

.wave-container img:nth-child(3) {
  z-index: 2;
  margin-bottom: 70px;
}

.wave-container img:nth-child(4) {
  z-index: 2;
  margin-bottom: 60px;
}

.wave-container img:nth-child(5) {
  z-index: 2;
  margin-bottom: 70px;
  min-height: 770px;
}